{% extends "base.html" %}

{% block user %}

{% endblock user %}

{% block contents %}
    <form action="{{url_for("signin_done")}}" method="get">
        <p>email:</p>
        <input type="email" name="email" id="email"/>
        <p>id:</p>
        <input type="text" name="id" id="id">
        <p>pwd:</p>
        <input type="password" name="pwd" id="pwd">
        <p>name:</p>
        <input type="text" name="name" id="name">
        <button type="submit">회원가입하기</button>
    </form>
{% endblock contents %}